<h1>Eager Burger Eater</h1>

<h2>Order's up!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <input type="text" id="ca" name="name" placeholder="What would you like to eat?">
    </div>

    {{!-- <div class="form-group">
        <label for="devoured">devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Order's Up!
    </div> --}}

    <button id="burgerButton" type="submit">Add burger</button>
</form>
<img id="burger animation" src="https://webstockreview.net/images/animated-clipart-burger-6.gif">
